.site-header {
    background-color: lightsteelblue;
    color: white;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fab{
    padding-left: 5px;
    padding-top: 5px;
}

.social-icons{
    font-size: 40px;
    border-radius: 25%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 50px;
    border: 5px solid white;
}

.site-header-content {
    margin: 10px;
}

a{
    color: white;
}

body {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: #55606f 2px 5px 5px;
}

.insta-link {
    color: white;
}