.site-header {
    background-color: lightsteelblue;
    color: white;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

body {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: #55606f 2px 5px 5px;
}

.insta-link {
    color: white;
}